<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CRMTestNG testcases</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ad2d6">  <td>19/06/22 10:01:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.createNewContactTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">createNewContactTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>19/06/22 10:01:56</td>   <td>11215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.createNewContactTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">createNewContactTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>19/06/22 10:02:07</td>   <td>21983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.createNewContactTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">createNewContactTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>19/06/22 10:02:18</td>   <td>33390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.createNewContactTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">createNewContactTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:22</td>   <td>-23058</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.endReport()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@5e3a8624]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:36</td>   <td>-8955</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.endReport()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3c0ecd4b]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:02:21</td>   <td>36452</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.endReport()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/06/22 10:01:21</td>   <td>-23771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.login()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@5e3a8624]">login</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:08</td>   <td>-37044</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setExtent()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@5e3a8624]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:23</td>   <td>-22316</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setExtent()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3c0ecd4b]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:36</td>   <td>-8814</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setExtent()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/06/22 10:01:08</td>   <td>-36837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@5e3a8624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/06/22 10:01:16</td>   <td>-29290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@5e3a8624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/22 10:01:23</td>   <td>-22312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setup()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3c0ecd4b]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/22 10:01:29</td>   <td>-16218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setup()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3c0ecd4b]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>19/06/22 10:01:36</td>   <td>-8605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setup()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>19/06/22 10:01:48</td>   <td>3114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setup()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>19/06/22 10:01:59</td>   <td>13860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setup()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>19/06/22 10:02:10</td>   <td>25078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setup()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:15</td>   <td>-29440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.LoginPageTest@5e3a8624]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:22</td>   <td>-23236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.LoginPageTest@5e3a8624]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:28</td>   <td>-16352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.HomePageTest@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:36</td>   <td>-9143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.HomePageTest@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:48</td>   <td>2953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:01:59</td>   <td>13679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:02:10</td>   <td>24903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/06/22 10:02:21</td>   <td>36277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/06/22 10:01:15</td>   <td>-29476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validateLoginPageTitleTest()[pri:1, instance:com.crm.qa.testcases.LoginPageTest@5e3a8624]">validateLoginPageTitleTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/22 10:01:28</td>   <td>-16363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyTitleOfHomePageTest()[pri:1, instance:com.crm.qa.testcases.HomePageTest@3c0ecd4b]">verifyTitleOfHomePageTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/22 10:01:34</td>   <td>-10493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyUserIDTest()[pri:2, instance:com.crm.qa.testcases.HomePageTest@3c0ecd4b]">verifyUserIDTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
</table>
