<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FreeCRM testcases</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c7ba">  <td>19/06/22 09:02:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setExtent()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@42e26948]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/06/22 09:02:55</td>   <td>291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setup()[pri:0, instance:com.crm.qa.testcases.HomePageTest@57baeedf]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/06/22 09:03:02</td>   <td>7880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.HomePageTest@57baeedf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/06/22 09:03:02</td>   <td>7773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyTitleOfHomePageTest()[pri:1, instance:com.crm.qa.testcases.HomePageTest@57baeedf]">verifyTitleOfHomePageTest</td> 
  <td>main@1234776885</td>   <td></td> </tr>
</table>
